/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #0F0E47;
    --secondary-color: #505081;
    --third-color: #8686AC;
    --forth-color: #272757;

    --text-color: #F0F0F0;
}